<?php


/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

use Zend\Expressive\Container;
use Zend\Expressive\Middleware\ErrorResponseGenerator;

return [
    'dependencies' => [
        'invokables' => [
        ],
        'factories'  => [
            ErrorResponseGenerator::class       => Container\WhoopsErrorResponseGeneratorFactory::class,
            'Zend\Expressive\Whoops'            => Container\WhoopsFactory::class,
            'Zend\Expressive\WhoopsPageHandler' => Container\WhoopsPageHandlerFactory::class,
            Zend\Db\Adapter\Adapter::class      => Zend\Db\Adapter\AdapterServiceFactory::class,
            'UserTable'                         => App\Model\TableGateway\UserTableGatewayFactory::class,
            'ContactMethodTable'                => App\Model\TableGateway\ContactMethodTableGatewayFactory::class,
            'UserContactTypeTable'            => App\Model\TableGateway\ContactMethodTypeTableGatewayFactory::class,
            App\Library\Adapters\authAdapter::class     => App\Library\Adapters\authAdapterFactory::class,
            App\Model\HtmlGateway\UserHtmlGateway::class => App\Model\HtmlGateway\UserHtmlGatewayFactory::class,
            App\Model\HtmlGateway\HeaderHtmlGateway::class => App\Model\HtmlGateway\HeaderHtmlGatewayFactory::class,
            App\Model\HtmlGateway\FooterHtmlGateway::class => App\Model\HtmlGateway\FooterHtmlGatewayFactory::class,
            App\Model\HtmlGateway\BodyHtmlGateway::class => App\Model\HtmlGateway\BodyHtmlGatewayFactory::class,
            App\Model\HtmlGateway\UserContactHtmlGateway::class => App\Model\HtmlGateway\UserContactHtmlGatewayFactory::class
        ],
    ],

    'whoops' => [
        'json_exceptions' => [
            'display'    => true,
            'show_trace' => true,
            'ajax_only'  => true,
        ],
    ],
];

